.section {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  padding-top: 4rem;
  position: relative;

  &__search,
  &__filter {
    display: flex;
    align-items: center;
    width: 380px;
    background-color: var(--bgr-color);
    gap: 1rem;
    box-shadow: var(--shadow);
    border-radius: 6px;
    padding: 1rem;

    &--icon {
      color: var(--input-text);
    }

    &--input {
      border: none;
      outline: none;
      color: var(--input-text);
      background-color: var(--bgr-color);
    }

    input::placeholder {
      font-size: 15px;
      color: var(--input-text);
    }
  }

  &__filter {
    border: none;
    outline: none;
    width: max-content;
    color: var(--text-color);
    z-index: 6;
  }

  .clear-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.1rem;
    margin-left: 100px;
    color: #333;
    font-size: 14px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4a6c8a;
    }
  }

  .no-countries-message {
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
    margin-top: 1rem;
  }
}
