@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --text-color: #060606;
  --body-color: #f0f0f0;
  --bgr-color: #fff;
  --input-text: #50565a;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.theme__dark {
  --text-color: #fff;
  --body-color: #1f2a35;
  --bgr-color: #323f49;
  --input-text: #fff;
  --shadow: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--body-color);
}
